<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated screenModel -->
      <package
            uri="screenModel"
            class="screenModel.ScreenModelPackage"
            genModel="model/screenModel.genmodel"/>
   </extension>

</plugin>
