<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated screenModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="screenModel.presentation.ScreenModelModelWizardID"
            name="%_UI_ScreenModelModelWizard_label"
            class="screenModel.presentation.ScreenModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScreenModelModelFile.gif">
         <description>%_UI_ScreenModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated screenModel -->
      <editor
            id="screenModel.presentation.ScreenModelEditorID"
            name="%_UI_ScreenModelEditor_label"
            icon="icons/full/obj16/ScreenModelModelFile.gif"
            extensions="screenmodel"
            class="screenModel.presentation.ScreenModelEditor"
            contributorClass="screenModel.presentation.ScreenModelActionBarContributor">
      </editor>
   </extension>

</plugin>
